---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
export async function getStaticPaths() {
  const pages = [
    {
      slug: 'courses/alfabetizacion-digital',
      title: 'Alfabetización Digital',
      image: '/assets/banners/alfabetizacion-digital-removebg.webp',
      text: 'Un curso para niños de 7-9 años',
      color: '#3aa7ee',
      border_color: '#e2f6fe',
      title_color: '#fff',
      p_color: '#fff',
      button_color: '#e2f6fe',
      text_button_color: '#5b2b7a',
      content_1: 'Trabajar con documentos de texto, editores gráficos, tablas e infografías',
      content_2: 'Usar el almacenamiento en la nube y configurar el acceso compartido para la colaboración',
      content_3: 'Crear y moderar comunidades y adoptar un enfoque responsable para colocar información personal en línea',
      content_4: 'Crear presentaciones y comunicarlas con seguridad a un público en vivo',
      metodology_1: 'Duración: 1 año académico',
      metodology_2: 'Los cursos se imparten entre semana o en fin de semana',
      metodology_3: 'Clases de 90 minutos con un descanso intermedio',
      online_1: 'Acceso a las clases desde cualquier parte del mundo',
      online_2: 'No pierdas tiempo transportándote',
      online_3: 'Hasta 6 niños por grupo',
      inperson_1: 'Clases en la escuela de Algorithmics',
      inperson_2: 'Interacción en persona con el maestro y los compañeros de clase',
      inperson_3: 'Hasta 6 niños por grupo',
    },
    {
      slug: 'courses/programacion-visual',
      title: 'Programación Visual',
      image: '/assets/banners/programacion-visual-removebg.webp',
      text: 'Un curso para niños de 9-10 años',
      color: '#f44c75',
      border_color: '#fdf06b',
      title_color: '#fdf06b',
      p_color: '#fff',
      button_color: '#602b7a',
      text_button_color: '#fff',
      content_1: 'Desarrollar algoritmos usando secuencias, operadores y ciclos',
      content_2: 'Comprobar sus propios programas y los de otros estudiantes y corregir errores, como un probador real',
      content_3: 'Ser parte de un equipo: distribuirán tareas y tomarán responsabilidades por su trabajo',
      content_4: 'Crear sus propios proyectos y hablar sobre ellos de formas interesantes - para qué funciona cada parte, por qué es necesario y cómo funciona',
      metodology_1: 'Duración: 1 año académico',
      metodology_2: 'Estudiar toma lugar los días de semana después de la escuela o los fines de semana',
      metodology_3: 'Una clase dura 90 minutos con un descanso a la mitad',
      online_1: 'Tome las clases en cualquier parte del mundo',
      online_2: 'No pierda tiempo transportándose',
      online_3: 'Hasta 6 niños por grupo',
      inperson_1: 'Clases en la escuela de Algorithmics',
      inperson_2: 'Interacción en persona con el maestro y los compañeros de clase',
      inperson_3: 'Hasta 12 niños por grupo',
    },
    {
      slug: 'courses/diseño-de-videojuegos',
      title: 'Diseño de Videojuegos',
      image: '/assets/banners/diseño-videojuegos-removebg.webp',
      text: 'Un curso para niños de 10-11 años',
      color: '#fbdb59',
      border_color: '#fef7d9',
      title_color: '#602b7a',
      p_color: '#f53496',
      button_color: '#602b7a',
      text_button_color: '#fff',
      content_1: 'Programar puzzles, tareas lógicas, y bots de chat para juegos',
      content_2: 'Desarrollar contenido y personajes interesantes, y seleccionar una estrategia de juego que quieren usar',
      content_3: 'Crear juegos usando el motor Roblox Studio y escribir script para estos en el lenguaje de programación Lua',
      content_4: 'Finalizar y promocionar un juego en la plataforma Roblox y atraer nuevos jugadores a este',
      metodology_1: 'Duración: 1 año académico',
      metodology_2: 'Estudiar toma lugar los días de semana después de la escuela o los fines de semana',
      metodology_3: 'Una clase dura 90 minutos con un descanso a la mitad',
      online_1: 'Tome las clases en cualquier parte del mundo',
      online_2: 'No pierda tiempo transportándose',
      online_3: 'Hasta 8 niños por grupo',
      inperson_1: 'Clases en la escuela de Algorithmics',
      inperson_2: 'Interacción presencial con el profesor y sus compañeros',
      inperson_3: 'Hasta 12 niños por grupo',
    },
    {
      slug: 'courses/creacion-de-sitios-web',
      title: 'Creación de Sitios Web',
      image: '/assets/banners/creacion-sitios-web-removebg.webp',
      text: 'Un curso para niños de 10-11 años',
      color: '#cbf86d',
      border_color: '#ec507d',
      title_color: '#613b75',
      p_color: '#66c427',
      button_color: '#61337c',
      text_button_color: '#ec507d',
      content_1: 'Desarrollar diseños elegantes, construir sitios web en un editor de bloques y publicarlos en línea',
      content_2: 'Escribir código HMTL y CSS, y adaptar su sitio web para dispositivos móviles',
      content_3: 'Ser parte de un equipo: distribuirán tareas y asumirán la responsabilidad de su trabajo',
      content_4: 'Desarrollar de manera independiente sitios sofisticados aplicando principios de UX y UI',
      metodology_1: 'Duración: 1 año académico',
      metodology_2: 'Estudiar toma lugar los días de semana después de la escuela o los fines de semana',
      metodology_3: 'Una clase dura 90 minutos con un descanso a la mitad',
      online_1: 'Tome las clases en cualquier parte del mundo',
      online_2: 'No pierda tiempo transportándose',
      online_3: 'Hasta 8 niños por grupo',
      inperson_1: 'Clases en la escuela de Algorithmics',
      inperson_2: 'Interacción presencial con el profesor y sus compañeros',
      inperson_3: 'Hasta 12 niños por grupo',
    },
    {
      slug: 'courses/python-start',
      title: 'Python Start',
      image: '/assets/banners/python-start-removebg.webp',
      text: 'Un curso para niños de 12-13 años',
      color: '#7d28a6',
      border_color: '#f66658',
      title_color: '#6ada41',
      p_color: '#fff',
      button_color: '#f66658',
      text_button_color: '#6ada41',
      content_1: 'Escribir código en Python, y entender su sintaxis y tipos de datos básicos (en 2 meses)',
      content_2: 'Crear aplicaciones de computadora y hacerlas amigables para el usuario (en 5 meses)',
      content_3: 'Desarrollar juegos con múltiples niveles usando las bibliotecas profesionales de Python (en un año)',
      content_4: 'Trabajar en un equipo y crear sus propios proyectos, desde la idea básica hasta la presentación (para fines de su segundo año)',
      metodology_1: 'Duración: 2 años académicos',
      metodology_2: 'Estudiar toma lugar los días de semana después de la escuela o los fines de semana',
      metodology_3: 'Una clase dura 90 minutos con un descanso a la mitad',
      online_1: 'Tome las clases en cualquier parte del mundo',
      online_2: 'No pierda tiempo transportándose',
      online_3: 'Hasta 10 niños por grupo',
      inperson_1: 'Clases en la escuela de Algorithmics',
      inperson_2: 'Interacción presencial con el profesor y sus compañeros',
      inperson_3: 'Hasta 12 niños por grupo',
    },
    {
      slug: 'courses/python-pro',
      title: 'Python Pro',
      image: '/assets/banners/python-pro-removebg.webp',
      text: 'Un curso para niños de 14-17 años',
      color: '#602a7a',
      border_color: '#f66558',
      title_color: '#fff',
      p_color: '#fff',
      button_color: '#40d259',
      text_button_color: '#f66558',
      content_1: 'Desarrollar juegos 3D en los géneros más populares, al igual que los diseñadores de juegos reales',
      content_2: 'Crear sitios web usando HTML y CSS, como los desarrolladores web reales',
      content_3: 'Extraer información útil de grandes conjuntos de datos y construir modelos, como científicos de datos reales',
      content_4: 'Lanzar aplicaciones móviles y presentar sus productos a un público en vivo, como empresarios de una startup reales',
      metodology_1: 'Duración: 2 años académicos',
      metodology_2: 'Estudiar toma lugar los días de semana después de la escuela o los fines de semana',
      metodology_3: 'Una clase dura 90 minutos con un descanso a la mitad',
      online_1: 'Tome las clases en cualquier parte del mundo',
      online_2: 'No pierda tiempo transportándose',
      online_3: 'Hasta 10 niños por grupo',
      inperson_1: 'Clases en la escuela de Algorithmics',
      inperson_2: 'Interacción en persona con el maestro y los compañeros de clase',
      inperson_3: 'Hasta 12 niños por grupo',
    },
    {
      slug: 'courses/unity-creacion-de-videojuegos',
      title: 'Unity - Creación de Videojuegos',
      image: '/assets/banners/unity-removebg.webp',
      text: 'Un curso para niños de 12-16 años',
      color: '#36af85',
      border_color: '#5ed0a4',
      title_color: '#fff',
      p_color: '#fff',
      button_color: '#fff',
      text_button_color: '#602b7a',
      content_1: 'Trabajar con el paisaje y la física de los juegos de ordenador: luz, partículas, colisiones y conexiones',
      content_2: 'Escribir código en C#, trabajar con scripts, variables, tipos de datos, etc.',
      content_3: 'Planificar su trabajo en el proyecto, actuar en equipo y presentar los resultados',
      content_4: 'Diseñar niveles de juego como un diseñador de niveles real y presentar los resultados de su trabajo',
      metodology_1: 'Duración: 32 lecciones',
      metodology_2: 'Las clases tienen lugar entre semana después del colegio o los fines de semana',
      metodology_3: 'Una clase dura 90 minutos con un descanso a la mitad',
      online_1: 'Tome las clases en cualquier parte del mundo',
      online_2: 'No pierda tiempo transportándose',
      online_3: 'Hasta 6 niños por grupo',
      inperson_1: 'Clases en la escuela de Algorithmics',
      inperson_2: 'Interacción presencial con el profesor y sus compañeros',
      inperson_3: 'Hasta 12 niños por grupo',
    },
  ];
  return pages.map(({ slug, title, text, color, border_color, image, title_color, p_color, button_color, text_button_color, content_1, content_2, content_3, content_4, metodology_1, metodology_2, metodology_3, online_1, online_2, online_3, inperson_1, inperson_2, inperson_3 }) => {
    return {
      params: { slug },
      props: { title, text, color, border_color, image, title_color, p_color, button_color, text_button_color, content_1, content_2, content_3, content_4, metodology_1, metodology_2, metodology_3, online_1, online_2, online_3, inperson_1, inperson_2, inperson_3 },
    }
  })
}

const { title, text, color, border_color, image, title_color, p_color, button_color, text_button_color, content_1, content_2, content_3, content_4, metodology_1, metodology_2, metodology_3, online_1, online_2, online_3, inperson_1, inperson_2, inperson_3 } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Cursos Algorithmics">
    <link rel="icon" type="image/svg+xml" href="/main.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width", initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <div class="header-component container">
      <Header />
    </div>
    <div class="header" style={`background-color: ${color}`}>
      <div class="header-content container" style={`border: 10px solid ${border_color}`}>
        <div class="text-content">
          <h1 style={`color: ${title_color}`}>{title}</h1>
          <p style={`color: ${p_color}`}>{text}</p>
          <a style={`background-color: ${button_color}; color: ${text_button_color}`} href="https://clases-algorithmics.netlify.app/">Registrarse</a>
        </div>
        <div class="image-content">
          <img src={image} alt="Illustrative course image">
        </div>
      </div>
    </div>

    <div class="course-content container">
      <h2>Su hijo(a) desarrollará las siguientes aptitudes:</h2>
      <div class="content container">
        <div class="numbers">
          <div class="numbers-item">
            <span style={`background-color: ${border_color}`}>1</span>
            <p>{content_1}</p>
          </div>
          <div class="numbers-item">
            <span style={`background-color: ${border_color}`}>2</span>
            <p>{content_2}</p>
          </div>
          <div class="numbers-item">
            <span style={`background-color: ${border_color}`}>3</span>
            <p>{content_3}</p>
          </div>
          <div class="numbers-item">
            <span style={`background-color: ${border_color}`}>4</span>
            <p>{content_4}</p>
          </div>
        </div>
      </div>
      <h3>Elija el formato que mas le convenga</h3>
      <div class="metodology-grid">
        <div style={`border: 10px solid ${border_color}`} class="metodology card">
          <i class="fa-solid fa-list-check"></i>
          <ul>
            <li>{metodology_1}</li>
            <li>{metodology_2}</li>
            <li>{metodology_3}</li>
          </ul>
        </div>
        <div class="online card">
          <h4> <i class="fa-solid fa-house-laptop"></i> Online</h4>
          <div>
            <ul>
              <li>{online_1}</li>
              <li>{online_2}</li>
              <li>{online_3}</li>
            </ul>
          </div>
        </div>
        <div class="inperson card">
          <h4><i class="fa-solid fa-location-dot"></i> Presencial</h4>
          <div>
            <ul>
              <li>{inperson_1}</li>
              <li>{inperson_2}</li>
              <li>{inperson_3}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>

<style lang="scss" scoped>
  .container {
		width: 70%;
		margin: 0 auto;
	}
  html {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: white;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
    margin: 0;
  }

  h1 {
    margin: 0;
  }

  .header {
    padding: 8rem 0 8rem 4rem;
    .header-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5rem;
      color: white;
      padding: 5rem 0 5rem 4rem;
      border-radius: 39px;
      .text-content {
        h1 {
          font-size: 3.5rem;
          font-weight: 900;
        }
        p {
          font-weight: 700;
          font-size: 1.5rem;
          margin-bottom: 3rem;
        }
        a {
          padding: 1rem;
          border-radius: 19px;
          text-decoration: none;
          font-weight: 500;
        }
      }
      .image-content {
        width: 20%;
        img {
          width: 100%;
        }
      }
    }
  }

  .course-content {
    width: 50%;
    margin-bottom: 10rem;
    color: #602b7a;
    h2 {
      font-size: 4rem;
      font-weight: 900;
    }
    h3 {
      font-size: 4rem;
      font-weight: 900;
    }
    ol > li {
      font-size: 1.2rem;
    }
    .content {
      display: flex;
      gap: 2rem;
      margin-bottom: 8rem;
      .numbers {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        .numbers-item {
          display: flex;
          gap: 2rem;
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            min-width: 50px;
            height: 50px;
            border-radius: 50%;
          }
          p {
            font-size: 1.5rem;
            font-weight: 500;
            margin: 0;
          }
        }
      }
    }
    .metodology-grid {
      display: flex;
      flex-direction: row;
      gap: 2.5rem;
      .metodology {
        i {
          font-size: 2rem;
          padding-bottom: 1rem;
        }
      }
      .card {
        h4 {
          font-size: 2rem;
          font-weight: 900;
          margin: 1rem 0 1.5rem 0;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 2.5rem;
          font-size: 1.5rem;
          font-weight: 500;
          margin: 0;
          padding: 0;
          padding-left: 1rem;
        }
        &:nth-child(1) {
          border-radius: 39px;
          padding: 2.5rem;
        }
      }
    }
  }

  @media only screen and (max-width: 428px) {
    .header-component {
      width: 90%;
    }
    .header {
      width: 95%;
      padding: 4rem 1rem 4rem 1rem;
      .header-content {
        flex-direction: column;
        gap: 4rem;
        padding: 3rem 0rem 3rem 0rem;
        width: 85%;
        .text-content {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          align-items: center;
          h1 {
            font-size: 1.5rem;
            font-weight: 900;
          }
          p {
            margin: 0;
            font-size: 1rem;
          }
        }
        .image-content {
          width: 70%;
          img {
            width: 90%;
          }
        }
      }
    }
    .course-content {
      margin-top: 4rem;
      width: 85%;
      h2 {
        font-size: 1.6rem;
        font-weight: 900;
        margin-bottom: 5rem;
      }
      h3 {
        font-size: 1.6rem;
        font-weight: 900;
      }
      ol > li {
        font-size: 1.2rem;
      }
      .content {
        gap: 2rem;
        margin-bottom: 8rem;
        .numbers {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          .numbers-item {
            display: flex;
            gap: 1.5rem;
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              min-width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            p {
              font-size: 1.1rem;
              font-weight: 500;
              margin: 0;
            }
          }
        }
      }
      .metodology-grid {
        flex-direction: column;
        gap: 2.5rem;
        .card {
          h4 {
            font-size: 2rem;
          }
          ul {
            gap: 1.5rem;
            li {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 970px) {
    .header {
      .header-content {
        gap: 0;
        .text-content {
          h1 {
            font-size: 2.5rem;
            font-weight: 900;
          }
          p {
            font-size: 1.2rem;
          }
        }
        .image-content {
          width: 50%;
          img {
            width: 90%;
          }
        }
      }
    }

    .course-content {
      width: 70%;
      h2 {
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 5rem;
      }
      h3 {
        font-size: 3rem;
        font-weight: 900;
      }
      ol > li {
        font-size: 1.2rem;
      }
      .metodology-grid {
        gap: 2.5rem;
        .card {
          h4 {
            font-size: 2rem;
          }
          ul {
            gap: 1.5rem;
            li {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
</style>